{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

    <div class="container">
        <div class="row">

          <div class="col-5">

            <h2>Play With Stocks</h2>

            <button type="button" onclick="reset()">Reset</button>
            <button type="button" onclick="showall()">Show All</button>


            <div class="container search" id="searchContainer">
            <br/>
            <input type="text" class="form-control live-search-box" id="searchInput" name="search" placeholder="Search Stock">
            </div>


            <div id="itemsContainer">
            <ul class="selected-stock-list" type="None"> 
              {% for stock in selected_stocks %}
                  <li class="item">
                      <label class="selected-list">
                          {{ stock }} 
                          <button type="button" name="removed_stock" onclick="removeStock('{{ stock }}')">x</button>
                      </label>
                  </li>
              {% endfor %}
            </ul>
            </div>

            <h5>Filter Stocks by Average Price</h5>
            <form id="filterStocksForm" action="/stock/filter_stocks" method="get">
                <label for="from_price">From: </label>
                <input type="number" name="from_price" id="from_price" step="0.01" required>
                <label for="to_price">To: </label>
                <input type="number" name="to_price" id="to_price" step="0.01" required>
                <button type="button" onclick="filterStocks()">Apply Filter</button>
            </form><br/>
              

            <form id="selectStockForm">
              <table>
              <thead>
                <tr>
                    <th>Stock</th>
                    <th>Avg Price</th>
                    <th>CAGR(%)</th>
                    <th>Add</th>
                </tr>
              </thead>
              <tbody class="live-search-list"> 
                  {% for stock in showing_stocks %}
                      <tr>
                          <td class="code">{{stocks_map[stock]['code']}}</td>
                          <td>{{stocks_map[stock]['avg_price']}}</td>
                          <td>{{stocks_map[stock]['cagr']}}</td>
                          <td>
                          <label class="search-list">
                              <!-- {{ stock }}  -->
                              <button type="button" name="selected_stock" onclick="selectStock('{{ stock }}')">✓</button>
                          </label>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
            </form>

          </div>



          <div class="col-7">
            <h2>Analyze Stocks</h2>
            <form class="form-inline" action="/stock/update_graph" method="post">
              <button type="submit">Update Graph</button>
            </form>
            {% if graph_stocks %}
                <p>Graph Stocks:</p>
                <ul>
                    {% for stock in graph_stocks %}
                        <li>{{ stock }}</li>
                    {% endfor %}
                </ul>
            {% else %}
              <p>No stocks Selected for graph!</p>
            {% endif %}
          </div>
        </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

{% endblock body %}