{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}

    <div class="container">
        <div class="row">

          <div class="col-5">
            <h2>Play With Stocks</h2>
              <div class="container search">
                <div class="row">
                  <div class="col-9">
                    <div class="mb-2">
                      <input type="text" class="form-control live-search-box" id="searchInput" name="search" placeholder="Search Stock">
                    </div>
                  </div>
                </div>
              </div>
              
              
              <form class="form-inline" action="/stock/reset_filter" method="post">
                <button type="submit">Reset</button>
              </form>
              <form class="form-inline" action="/stock/show_all_stocks" method="post">
                <button type="submit">Show All</button>
              </form>


            <form action="/stock/select_stock" method="post">
              <ul class="live-search-list"> 
              {% for stock in filtered_stocks %}
                <li>
                  <label class="search-list">
                      {{ stock }} <button type="submit" name="selected_stock" value="{{ stock }}">✓</button>
                  </label>
                </li>
              {% endfor %}
            </ul>
            </form>


          <h2>Selected Stocks</h2>
          <form action="/stock/remove_stock" method="post">
            {% for stock in selected_stocks %}
                <label class="selected">
                    {{ stock }} <button type="submit" name="removed_stock" value="{{ stock }}">X</button>
                </label>
                <br>
            {% endfor %}
          </form>

          </div>



          <div class="col-7">
            <h2>Analyze Stocks</h2>
            <form class="form-inline" action="/stock/update_graph" method="post">
              <button type="submit">Update Graph</button>
            </form>
            {% if graph_stocks %}
                <p>Graph Stocks:</p>
                <ul>
                    {% for stock in graph_stocks %}
                        <li>{{ stock }}</li>
                    {% endfor %}
                </ul>
            {% else %}
              <p>No stocks Selected for graph!</p>
            {% endif %}
          </div>
        </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

{% endblock body %}