<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="auth">
    <div class="form-container">
        <h2>Login</h2>
        <form action="/auth/login" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button class="button-auth" type="submit">Login</button>
            </div>
        </form>
        <p>Don't have an account? <a href="/auth/register">Register here</a></p>
    </div>
</body>
</html>
